@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

core-colors {
  color: #4D394B #3E313C #4C9689 #FFFFFF #3E313C #FFFFFF #38978D #EB4D5C;
}

body {
  font-family: Lato, sans-serif !important;
}

/* Toolbar */
#toolbar {
  background-color: #FFFFFF !important;
  border-bottom: none !important;
}

.right-item-group::before {
  background: none !important;
}

.right-item-group li {
  background: none !important;
  border: none !important;
}

/* Tabs */
nav {
  background: #4D394B !important;
}

.tab.current > .tab-link {
  background-color: #4C9689 !important;
}

.tab.current > .tab-link > .tab-name {
  color: white !important;
}

.tab:hover {
  /*color: white !important;*/
  background-color: #3E313C !important;
}

.tab-name {
  background-color: transparent !important;
  color: lightgray !important;
}

.org-name {
  font-weight: bold !important;
  color: lightgray !important;
}

header .user-menu-name {
  color: white !important;
}

nav .fa {
  color: white !important;
}

nav .external-link {
  background-color: #4D394B !important;
}

.nav-header {
  border-bottom: none !important;
}

.nav-footer {
  background-color: #3E313C !important;
}

.tab-list-shadow {
  background-image: none !important;
}

/* CHAT */
.chat-message {
  border: none !important;
}

.chat-message.date-separator::before {
  border: none !important;
  color: black !important;

  width: 100% !important;
  background-color: transparent !important;
  /*background-image:-webkit-linear-gradient(left, #000000 34%, #ffffff 40%,#ffffff 60%,#000000 66%) !important;*/
  /*height: 0.1em !important;*/
  /*line-height: 0.1em !important;*/
}

.message-highlight {
  background-color: rgba(118, 202, 135, 0.4) !important;
}

/* CODE */
code, pre, kbd, pre, samp {
  font-family: "Roboto Mono" !important;
}
